﻿@model Websites.data.tblAbout
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Areas/Cms/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Cms.Dashboard.Index())">Home</a></li>
        <li>/</li>
        <li><a href="@Url.Action(MVC.Cms.About.Index())">About list</a></li>
    </ol>
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Cms.About.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FromAddService" }))
                    {
                        @Html.HiddenFor(x => x.AboutID)
                        <div class="form-group">
                            <label class="col-md-3 control-label">Header</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.AboutHeader, new { @class = "form-control required", placeholder = "Header", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Description</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.AboutDesc, new { @class = "form-control required", placeholder = "Description", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Image</label>
                            <div class="col-md-9">
                                <input type="file" name="img" class="form-control" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Choose</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.Choose, new { @class = "form-control required", placeholder = "Choose", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Do</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.Ido, new { @class = "form-control required", placeholder = "do", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">specialities</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.Specialities, new { @class = "form-control required", placeholder = "specialities", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success">Submit</button>
                                <a href="@Url.Action(MVC.Cms.Contact.Index())"><button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>