﻿@model List<Websites.data.tblUser>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cms/Views/Shared/_Layout.cshtml";
    var index = 1;
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Cms.Dashboard.Index())">Home</a></li>
        <li>/</li>
        <li><a href="@Url.Action(MVC.Cms.About.Index())">About list</a></li>
    </ol>
    <h1 class="page-header">Manage User</h1>
    <!-- end page-header -->

    <a href="@Url.Action(MVC.Cms.User.AddEdit(string.Empty))" class="btn btn-white btn-sm m-r-5">Add New</a>
    <br />
    <br />
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>UserName</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.CreatedDate</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-6 -->
        </div>
        <!-- end row -->
    </div>
</div>