﻿@model Websites.data.tblContact
@{
    ViewBag.Title = "AddEdit";
    Layout = "~/Areas/Cms/Views/Shared/_Layout.cshtml";
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Cms.Dashboard.Index())">Home</a></li>
        <li>/</li>
        <li><a href="@Url.Action(MVC.Cms.Contact.Index())">Contact list</a></li>
    </ol>
    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-6">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm(MVC.Cms.Contact.AddEdit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "FormAddBanner" }))
                    {
                        @Html.HiddenFor(x => x.ContactId)
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control required", placeholder = "Name" ,@required = "required"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">E-mail</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control required", placeholder = "E-Mail", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Phone</label>
                            <div class="col-md-9">
                                @Html.TextBoxFor(x => x.Phone, new { @class = "form-control required", placeholder = "Phone", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Message</label>
                            <div class="col-md-9">
                                @Html.TextAreaFor(x => x.Message, new { @class = "form-control required", placeholder = "Message", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label"></label>
                            <div class="col-md-9">
                                <button type="submit" class="btn btn-sm btn-success" >Submit</button>
                                <a href="@Url.Action(MVC.Cms.Contact.Index())"><button type="button" class="btn btn-sm btn-success">Close</button> </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- end panel -->
        </div>
        <!-- end col-6 -->

    </div>
    <!-- end row -->
</div>