﻿@model List<Websites.data.tblContact>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cms/Views/Shared/_Layout.cshtml";
    var index = 1;
}


<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Cms.Dashboard.Index())">Home </a></li>
        <li>/</li>
        <li class="active">User</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Contact</h1>
    <!-- end page-header -->

    <a href="@Url.Action(MVC.Cms.Contact.AddEdit(Guid.Empty))" class="btn btn-white btn-sm m-r-5">Add New</a>
    <br />
    <br />

    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">
              
                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>No. </th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Created Date</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="odd gradeX">
                                        <td>@index.ToString()</td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Phone</td>
                                        <td>@item.CreatedDate</td>
                                        <td>@Url.Action(MVC.Cms.Contact.AddEdit(item.ContactId))</td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-6 -->

            </div>
            <!-- end row -->
        </div>
        <!-- end #content -->
    </div>
</div>