﻿@model List<Websites.data.tblService>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Cms/Views/Shared/_Layout.cshtml";
    var index = 1;
}
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action(MVC.Cms.Dashboard.Index())">Home </a></li>
        <li>/</li>
        <li class="active">Se   rvices</li>
    </ol>
    <!-- end breadcrumb -->
    <!-- begin page-header -->
    <h1 class="page-header">Manage Services</h1>
    <!-- end page-header -->

    <a href="@Url.Action(MVC.Cms.Services.AddEdit(Guid.Empty))" class="btn btn-white btn-sm m-r-5">Add New</a>
    <br />
    <br />

    <div class="row">
        <!-- begin col-6 -->
        <div class="col-md-12">
            <!-- begin panel -->
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <div class="panel-heading-btn">

                    </div>
                    <h4 class="panel-title">Input</h4>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Servcice Header</th>
                                    <th>Servcice Detail</th>
                                    <th>Service Img</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.ServiceHeader</td>
                                        <td>@item.ServiceDetail</td>
                                        <td>@item.ServiceImg</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- end panel -->
                </div>
                <!-- end col-6 -->

            </div>
            <!-- end row -->
        </div>
        <!-- end #content -->
    </div>
</div>